@page
@model PrivacyModel
@{
    ViewData["Title"] = "Regulamin";
}

<div class="text-center">
    <h1 class="display-4">Regulamin</h1>
</div>

<div class="centered-text mt-2">
    <ol>
        <li>
            <strong>Rejestracja i konto Użytkownika</strong><br />
            Korzystanie z Platformy wymaga założenia konta. Zakładając konto, Użytkownik potwierdza, że ma ukończone 18 lat.
        </li>
        <li>
            <strong>Wystawianie przedmiotów</strong><br />
            Użytkownik może kupować i wystawiać przedmioty na aukcje. Wystawiając przedmiot, Użytkownik potwierdza, że jest jedynym właścicielem sprzedawanych przedmiotów.
        </li>
        <li>
            <strong>Autentyczność i opis przedmiotów</strong><br />
            Użytkownik odpowiada za zgodność opisu przedmiotu z rzeczywistością.
        </li>
        <li>
            <strong>Licytacje</strong><br />
            Minimalna cena wywoławcza przedmiotu to 1 zł. Cena przedmiotów wzrasta o 10% od ceny wywoławczej przy każdym złożeniu oferty. Złożenie oferty w aukcji jest wiążące.
        </li>
        <li>
            <strong>Płatności i prowizje</strong><br />
            Platforma może pobierać opłaty za wystawienie przedmiotów na aukcje.
        </li>
        <li>
            <strong>Wysyłka i dostawa</strong><br />
            Wysyłka odbywa się kurierem. Sprzedający jest odpowiedzialny za bezpieczne zapakowanie i terminowe wysłanie przedmiotu.
        </li>
        <li>
            <strong>Reklamacje</strong><br />
            W przypadku sporów między Użytkownikami Platforma może pełnić funkcję mediatora.
        </li>
        <li>
            <strong>Zmiany w Regulaminie</strong><br />
            Platforma zastrzega sobie prawo do zmian w Regulaminie.
        </li>
    </ol>
</div>
